@import "tailwindcss";


*{
  box-sizing:border-box;
}


html{
  transition: background 0.3s ease;
}


body{

  margin:0;

  font-family:
  Inter,
  system-ui,
  sans-serif;

  background:#f8fafc;

  color:#0f172a;

  transition:
  background 0.3s ease,
  color 0.3s ease;

}


button{

  cursor:pointer;

}


a{

  text-decoration:none;

}



/* DARK MODE */

.dark{

  background:#020617;

  color:white;

}



.dark body{

  background:#020617;

  color:white;

}



/* White cards become dark */

.dark .bg-white{

  background:#0f172a !important;

  color:white;

}



/* Text colors */

.dark .text-slate-900{

  color:white !important;

}


.dark .text-gray-500{

  color:#94a3b8 !important;

}


.dark .text-gray-600{

  color:#cbd5e1 !important;

}



/* Borders */

.dark .border{

  border-color:#334155;

}